.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.pros__title--hidden,
.portfolio__title--hidden {
    visibility: hidden;
    margin: 0px auto;
    font-size: 0;
}